html{
    font-size: 100%;
}
.section{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 2rem 0rem;
}
header,.c1{
    margin-bottom: 1.2rem;
}

.content{
    /* float: left; */
    width:calc(66.66% - 1rem) ;
    margin: 0.5rem;
    display: inline-block;

}
.content .box{
    height: 200px;
    background-color: #185c5e;
    margin: 0.5rem;
    float: left;
    width:calc(33.33% - 1rem);
}

.sidebar{
    /* float: left; */
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
}
@media(max-width:340px) and (orientation:landscape){
    .sidebar{
        /* float: left; */
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
}
.about{
    float: right;
    margin: 0.5rem;
    width: calc(33.33% - 1rem);
}
.contact{
    float: left;
    margin: 0.5rem;
    width: calc(66.66% - 1rem);
}

.clearflex::after,
.clearflex::before{
content: "";
display: table;
}
.clearflex::after{
    clear: both;
}