body{
    padding: 20rem;
}
.box{
    width:200px;
    height: 200px;
    perspective: 1000px;
    perspective-origin: right;
    /* transform: scale(2) rotateX(45deg) skew(120deg , 40deg) translate(20px , 0px) perspective(1000px); */
    transform:perspective(1000px) rotateY(45deg);
    transform-origin: left;
    background-color: chocolate;
}