

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.myPlayer{
  position: relative;
  display: flex;
  direction: ltr;
  overflow: hidden;
  transition: .2s all;

  /* height: 40vh; */
  /* margin-top: 20px; */
  }

video{
  width: 100%;
}
.myPlayer-controlers{
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  background-color: rgb(58, 58, 58);
  width: 100%;
}
.controls_progressbar{
  background-color: #e1e1e1;
  height: 6px;
  width: 100%;
}

.controls__progressbar-current{
  -webkit-appearance: none;
-moz-apperance: none;
height: 6px;
margin: 0;
position: absolute;
width: 100%;
background: linear-gradient(90deg, rgba(230,126,34,1) 0%, #e1e1e1 0%);
}
.controls__progressbar-current::-moz-range-track {
  border: none;
  background: none;
  outline: none;
}

.controls__progressbar-current:focus {
  outline: none;
  border: none;
}

 .controls__progressbar-current::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: transparent;
  height: 13px;
  width: 13px;
}

.controls__progressbar-current::-moz-range-thumb {
  -moz-appearance: none !important;
  background-color: transparent;
  border: none;
  height: 13px;
  width: 13px;
}
.left .btns:not(:first-child) {
  margin-left : 20px;
}
.right .btns:not(:last-child) {
  margin-right: 20px;
}
.myPlayer:hover .controls__btns {
  display: flex;
}
.controls_buts{
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 10px 15px;
  color: white;
}
.right,.left{
  display: flex;
align-items: center;
}
.btns{
  font-size: 1.3em;
  cursor: pointer;
}
.ply{
  color: white;
}
.voloume{
  position: relative;
display: flex;
flex-direction: column;
align-items: center;
}
.voloume-progress{
  transform: rotate(-90deg);
  position: absolute;
  top: -50px;
  display: none;
}
.volume__progress.active {
  display: block;
}
.volume__progress input[type=range] {
  display: flex;
}
.volume__progress input[type=range] {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 6px;
  width: 77px;

  background: linear-gradient(90deg, rgba(230,126,34,1) 50%, #e1e1e1 50%);
}
.volume__progress input[type="range"]::-moz-range-track {
  border: none;
  background: none;
  outline: none;
}
.volume__progress input[type=range]:focus {
  outline: none;
  border: none;
}
.volume__progress input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #e67e22;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

.volume__progress input[type=range]::-moz-range-thumb {
  -moz-appearance: none !important;
  background-color: #e67e22;
  border: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}
.timer{
  margin-left: 20px;
}