body{
    background-color:#00FA9A;
    margin: 20%;
}
h1{
    text-align: center;
}
img{
    display: inline-block;
    width: 100%;
}

#title{
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}

#caption{
font-size: 17px;
font-family: 'Gill Sans';
margin-top: 0%;
}
#Text-Header{
    color: white;
    text-shadow: 5px 5px 10px black;
    font-size: 35px;
    text-align: center;
    margin: 11px 11px;
    margin-top: 50px;
}


#tribute-data{
    display: inline-block;
    background-color: rgb(46, 139, 87, 0.25);
    padding: 25px 25px;
}



